{% extends "base.html" %}

{% block content %}
    
       
    <h1>Hi, {{ current_user.username }}!</h1>

    <h5>Your Reddit data is </h5>
    {% for submission in popular %}
    <div><p> {{ 'Title: {} , Likes: {}, Dislikes: {}'.format(submission.title,submission.ups,submission.downs) }} </p></div>

     <h4> To tweet this Content in your Twitter Account Please <a class="twitter-share-button" href="https://twitter.com/intent/tweet"> Click Here</a> </h4>
     
    {% endfor %}

     <h4> To tweet this Content in your Twitter Account Please <a class="twitter-share-button" href="https://twitter.com/intent/tweet"> Click Here</a> </h4>
    
{% endblock %}


